<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Constr" connectionString="Data Source=192.168.20.91/orcl;Persist Security Info=True;User ID=C##FGCPOE;Password=3602001;"
      providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
</configuration>